<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Othello</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 2</key>
	<dict>
		<key>name</key>
		<string>Othello2</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 3</key>
	<dict>
		<key>name</key>
		<string>Othello3</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4</key>
	<dict>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 5</key>
	<dict>
		<key>name</key>
		<string>Othello5</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 6</key>
	<dict>
		<key>name</key>
		<string>Othello6</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 7</key>
	<dict>
		<key>name</key>
		<string>Othello7</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 8</key>
	<dict>
		<key>name</key>
		<string>Othello8</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 9</key>
	<dict>
		<key>name</key>
		<string>Othello9</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 10</key>
	<dict>
		<key>name</key>
		<string>Othello10</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 11</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 12</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 13</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 14</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 15</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 16</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 17</key>
	<dict>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>New item</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
