<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Othello</key>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>name</key>
		<string>Othello</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 2</key>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>name</key>
		<string>Othello2</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 3</key>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>name</key>
		<string>Othello3</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4</key>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 2</key>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 3</key>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 4</key>
	<dict>
		<key>index</key>
		<integer>6</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 5</key>
	<dict>
		<key>index</key>
		<integer>7</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 6</key>
	<dict>
		<key>index</key>
		<integer>8</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
	<key>Othello - 4 - 7</key>
	<dict>
		<key>index</key>
		<integer>9</integer>
		<key>name</key>
		<string>Othello4</string>
		<key>thumbnail</key>
		<string>othello_thumbnail</string>
		<key>desc</key>
		<string>othello othello</string>
		<key>chessBundleName</key>
		<string>Othello</string>
		<key>locked</key>
		<false/>
	</dict>
</dict>
</plist>
