<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>topWidgets</key>
	<array>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_TRAFFICLIGHT</string>
			<key>primaryImage</key>
			<string>stop</string>
			<key>secondaryImage</key>
			<string>go</string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<false/>
			<key>humanOnly</key>
			<false/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_DEFAULTCHESS</string>
			<key>primaryImage</key>
			<string></string>
			<key>secondaryImage</key>
			<string></string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<false/>
			<key>humanOnly</key>
			<false/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_TYPE</string>
			<key>primaryImage</key>
			<string></string>
			<key>secondaryImage</key>
			<string></string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<false/>
			<key>humanOnly</key>
			<false/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_UNDO</string>
			<key>primaryImage</key>
			<string>undo</string>
			<key>secondaryImage</key>
			<string></string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<true/>
			<key>humanOnly</key>
			<true/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_REDO</string>
			<key>primaryImage</key>
			<string>redo</string>
			<key>secondaryImage</key>
			<string></string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<true/>
			<key>humanOnly</key>
			<true/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>buttomWidgets</key>
	<array>
		<dict>
			<key>type</key>
			<string>PANELWIDGETTYPE_BACK</string>
			<key>primaryImage</key>
			<string>back</string>
			<key>secondaryImage</key>
			<string></string>
			<key>animationImage</key>
			<string></string>
			<key>enable</key>
			<true/>
			<key>humanOnly</key>
			<true/>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
	</array>
</dict>
</plist>
